@keyframes textflicker {
  from {
    text-shadow: 1px 0 0 #C8C8C8, -2px 0 0 #C8C8C8;
  }
  to {
    text-shadow: 0 0 3px #C8C8C8, 0 2px 5px #C8C8C8, 1px 0 8px #C8C8C8, 0 0 10px #C8C8C8;
  }
}

@keyframes refresh{0%{bottom:100%}70%{bottom:100%}100%{bottom:-50px}} 
.refresh { 
float: left; 
left: 0;
width: 200%; 
height: 100px; 
z-index: 8; 
background: linear-gradient(0deg,rgba(0,0,0,0) 0,rgba(255,255,255,.9) 10%,rgba(0,0,0,.1) 100%); 
opacity: .2; 
position: fixed; 
bottom: 0; 
animation: refresh 8s linear infinite; 
animation-name: refresh; 
animation-duration: 8s; 
animation-timing-function: linear; 
animation-delay: 0s; 
animation-iteration-count: infinite; 
animation-direction: normal; 
animation-fill-mode: none; 
animation-play-state: running; 
} 
